.Circle2 {
  width: 15%;
  height: 15%;
  background: #5ebdf5;
  border-radius: 50%;
  color: cornsilk;
  position: relative;
  line-height: 0;
  top: -200px;
  left: 870px;
  margin: -20px;
  background: linear-gradient(135deg, #a7cfdf 0%, #5ebdf5 100%);
  box-shadow: inset -8px -7px 4px 0px rgba(0, 0, 0, 0.3);
}

.Circle2::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.Circle2-txt-wind {
  position: absolute;
  bottom: 65%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.Circle2-txt-hum {
  position: absolute;
  bottom: 40%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}
